<a href="https://colab.research.google.com/github/ankit485803/My-LocalRepo/blob/main/Ankit_D_A_Assig_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

$$ Assigment:-02  $$

$$Foundation......of.....Data.....Analytics$$

# Question no:- 1


> Import numpy library in google colab to perform the following operations:

In [ ]:
# (1)	 Create an array of five elements and print its value.

import numpy as np
arr = np.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

(2)	 Use the above array elements to print the 1st and 2nd elements

In [ ]:
# Qno 2. solution
# here we use concept of SLICING with indexing the elements

print(arr)

print(arr[0 : 2])

[1 2 3 4 5]
[1 2]

(3)	 Get the third and fourth elements from the array and add them.

In [ ]:
# Qno 3. solution

x = arr[2 : 4]
print(x)

y = arr[0 : 2]
print(y)

z = x+y
print(z)

[3 4]
[1 2]
[4 6]

 (4)	 Print the elements from 1 to 5 from the above array.

In [ ]:
# Qno 4. solution

# print(arr)

print(arr[0 : 5])

[1 2 3 4 5]

(5)	 Get the data type of the array.

In [ ]:
# Qno 5. solution

print(arr)

print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

# Question no:- 2

> Import pandas library in google colab to load the following dataset and perform operations.

[ Link of Sample Dataset used in this assigment](https://archive.ics.uci.edu/dataset/360/air+quality/)

In [ ]:
# Before performing the operarion, We have to import the dataset in the notebook

import pandas as pd
df1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/AirQualityUCI.csv", delimiter=";")
print(df1)

            Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
0     10/03/2004  18.00.00    2,6       1360.0     150.0     11,9
1     10/03/2004  19.00.00      2       1292.0     112.0      9,4
2     10/03/2004  20.00.00    2,2       1402.0      88.0      9,0
3     10/03/2004  21.00.00    2,2       1376.0      80.0      9,2
4     10/03/2004  22.00.00    1,6       1272.0      51.0      6,5
...          ...       ...    ...          ...       ...      ...
9466         NaN       NaN    NaN          NaN       NaN      NaN
9467         NaN       NaN    NaN          NaN       NaN      NaN
9468         NaN       NaN    NaN          NaN       NaN      NaN
9469         NaN       NaN    NaN          NaN       NaN      NaN
9470         NaN       NaN    NaN          NaN       NaN      NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13,6  48,9  0,7578          NaN          NaN
1           972.0  13,3  47,7  0,7255          NaN          NaN
2          1074.0  11,9  54,0  0,7502          NaN          NaN
3          1203.0  11,0  60,0  0,7867          NaN          NaN
4          1110.0  11,2  59,6  0,7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9466          NaN   NaN   NaN     NaN          NaN          NaN
9467          NaN   NaN   NaN     NaN          NaN          NaN
9468          NaN   NaN   NaN     NaN          NaN          NaN
9469          NaN   NaN   NaN     NaN          NaN          NaN
9470          NaN   NaN   NaN     NaN          NaN          NaN

[9471 rows x 17 columns]

In [ ]:
# Here we use Air Quality.xlsx  file for this assigment.
import pandas as pd
df2 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/AirQualityUCI.xlsx")
print(df2)

           Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)  \
0    2004-03-10  18:00:00     2.6      1360.00       150  11.881723
1    2004-03-10  19:00:00     2.0      1292.25       112   9.397165
2    2004-03-10  20:00:00     2.2      1402.00        88   8.997817
3    2004-03-10  21:00:00     2.2      1375.50        80   9.228796
4    2004-03-10  22:00:00     1.6      1272.25        51   6.518224
...         ...       ...     ...          ...       ...        ...
9352 2005-04-04  10:00:00     3.1      1314.25      -200  13.529605
9353 2005-04-04  11:00:00     2.4      1162.50      -200  11.355157
9354 2005-04-04  12:00:00     2.4      1142.00      -200  12.374538
9355 2005-04-04  13:00:00     2.1      1002.50      -200   9.547187
9356 2005-04-04  14:00:00     2.2      1070.75      -200  11.932060

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0           1045.50    166.0       1056.25    113.0       1692.00
1            954.75    103.0       1173.75     92.0       1558.75
2            939.25    131.0       1140.00    114.0       1554.50
3            948.25    172.0       1092.00    122.0       1583.75
4            835.50    131.0       1205.00    116.0       1490.00
...             ...      ...           ...      ...           ...
9352        1101.25    471.7        538.50    189.8       1374.25
9353        1027.00    353.3        603.75    179.2       1263.50
9354        1062.50    293.0        603.25    174.7       1240.75
9355         960.50    234.5        701.50    155.7       1041.00
9356        1047.25    265.2        654.00    167.7       1128.50

      PT08.S5(O3)       T         RH        AH
0         1267.50  13.600  48.875001  0.757754
1          972.25  13.300  47.700000  0.725487
2         1074.00  11.900  53.975000  0.750239
3         1203.25  11.000  60.000000  0.786713
4         1110.00  11.150  59.575001  0.788794
...           ...     ...        ...       ...
9352      1728.50  21.850  29.250000  0.756824
9353      1269.00  24.325  23.725000  0.711864
9354      1092.00  26.900  18.350000  0.640649
9355       769.75  28.325  13.550000  0.513866
9356       816.00  28.500  13.125000  0.502804

[9357 rows x 15 columns]

In [ ]:
df2.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,-34.207524,1048.869652,-159.090093,1.865576,894.475963,168.604200,794.872333,58.135898,1391.363266,974.951534,9.776600,39.483611,-6.837604
std,77.657170,329.817015,139.789093,41.380154,342.315902,257.424561,321.977031,126.931428,467.192382,456.922728,43.203438,51.215645,38.976670
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000
25%,0.600000,921.000000,-200.000000,4.004958,711.000000,50.000000,637.000000,53.000000,1184.750000,699.750000,10.950000,34.050000,0.692275
50%,1.500000,1052.500000,-200.000000,7.886653,894.500000,141.000000,794.250000,96.000000,1445.500000,942.000000,17.200000,48.550000,0.976823
75%,2.600000,1221.250000,-200.000000,13.636091,1104.750000,284.200000,960.250000,133.000000,1662.000000,1255.250000,24.075000,61.875000,1.296223
max,11.900000,2039.750000,1189.000000,63.741476,2214.000000,1479.000000,2682.750000,339.700000,2775.000000,2522.750000,44.600000,88.725000,2.231036

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   datetime64[ns]
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   int64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 1.1+ MB

(1)	 Drop the null values from the dataset. Use (dropna()) method

In [ ]:
# Qno 1. solution

df2.dropna()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04,10:00:00,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
9353,2005-04-04,11:00:00,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
9354,2005-04-04,12:00:00,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
9355,2005-04-04,13:00:00,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
9356,2005-04-04,14:00:00,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

(2)	 Replace NULL values with the number 130.

In [ ]:
# Qno 2. solution

df2.fillna(130)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04,10:00:00,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
9353,2005-04-04,11:00:00,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
9354,2005-04-04,12:00:00,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
9355,2005-04-04,13:00:00,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
9356,2005-04-04,14:00:00,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

(3)	 Filter the value of NO2>500. Use data frame(df. loc)

In [ ]:
# Qno 3. solution

filtered_data =  df2.loc[df2['PT08.S2(NMHC)']>500]
print(filtered_data)

           Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)  \
0    2004-03-10  18:00:00     2.6      1360.00       150  11.881723
1    2004-03-10  19:00:00     2.0      1292.25       112   9.397165
2    2004-03-10  20:00:00     2.2      1402.00        88   8.997817
3    2004-03-10  21:00:00     2.2      1375.50        80   9.228796
4    2004-03-10  22:00:00     1.6      1272.25        51   6.518224
...         ...       ...     ...          ...       ...        ...
9352 2005-04-04  10:00:00     3.1      1314.25      -200  13.529605
9353 2005-04-04  11:00:00     2.4      1162.50      -200  11.355157
9354 2005-04-04  12:00:00     2.4      1142.00      -200  12.374538
9355 2005-04-04  13:00:00     2.1      1002.50      -200   9.547187
9356 2005-04-04  14:00:00     2.2      1070.75      -200  11.932060

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0           1045.50    166.0       1056.25    113.0       1692.00
1            954.75    103.0       1173.75     92.0       1558.75
2            939.25    131.0       1140.00    114.0       1554.50
3            948.25    172.0       1092.00    122.0       1583.75
4            835.50    131.0       1205.00    116.0       1490.00
...             ...      ...           ...      ...           ...
9352        1101.25    471.7        538.50    189.8       1374.25
9353        1027.00    353.3        603.75    179.2       1263.50
9354        1062.50    293.0        603.25    174.7       1240.75
9355         960.50    234.5        701.50    155.7       1041.00
9356        1047.25    265.2        654.00    167.7       1128.50

      PT08.S5(O3)       T         RH        AH
0         1267.50  13.600  48.875001  0.757754
1          972.25  13.300  47.700000  0.725487
2         1074.00  11.900  53.975000  0.750239
3         1203.25  11.000  60.000000  0.786713
4         1110.00  11.150  59.575001  0.788794
...           ...     ...        ...       ...
9352      1728.50  21.850  29.250000  0.756824
9353      1269.00  24.325  23.725000  0.711864
9354      1092.00  26.900  18.350000  0.640649
9355       769.75  28.325  13.550000  0.513866
9356       816.00  28.500  13.125000  0.502804

[8817 rows x 15 columns]

(4)	 Use drop_duplicates() methods to drop duplicate values from the dataset.

In [ ]:
# Qno 4. solution
# By using pandas.DataFrame.drop_duplicates() method you can remove duplicate rows from DataFrame. Using this method you can drop duplicate rows on selected multiple columns or all columns.

print(df2)

df2.drop_duplicates()

           Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)  \
0    2004-03-10  18:00:00     2.6      1360.00       150  11.881723
1    2004-03-10  19:00:00     2.0      1292.25       112   9.397165
2    2004-03-10  20:00:00     2.2      1402.00        88   8.997817
3    2004-03-10  21:00:00     2.2      1375.50        80   9.228796
4    2004-03-10  22:00:00     1.6      1272.25        51   6.518224
...         ...       ...     ...          ...       ...        ...
9352 2005-04-04  10:00:00     3.1      1314.25      -200  13.529605
9353 2005-04-04  11:00:00     2.4      1162.50      -200  11.355157
9354 2005-04-04  12:00:00     2.4      1142.00      -200  12.374538
9355 2005-04-04  13:00:00     2.1      1002.50      -200   9.547187
9356 2005-04-04  14:00:00     2.2      1070.75      -200  11.932060

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0           1045.50    166.0       1056.25    113.0       1692.00
1            954.75    103.0       1173.75     92.0       1558.75
2            939.25    131.0       1140.00    114.0       1554.50
3            948.25    172.0       1092.00    122.0       1583.75
4            835.50    131.0       1205.00    116.0       1490.00
...             ...      ...           ...      ...           ...
9352        1101.25    471.7        538.50    189.8       1374.25
9353        1027.00    353.3        603.75    179.2       1263.50
9354        1062.50    293.0        603.25    174.7       1240.75
9355         960.50    234.5        701.50    155.7       1041.00
9356        1047.25    265.2        654.00    167.7       1128.50

      PT08.S5(O3)       T         RH        AH
0         1267.50  13.600  48.875001  0.757754
1          972.25  13.300  47.700000  0.725487
2         1074.00  11.900  53.975000  0.750239
3         1203.25  11.000  60.000000  0.786713
4         1110.00  11.150  59.575001  0.788794
...           ...     ...        ...       ...
9352      1728.50  21.850  29.250000  0.756824
9353      1269.00  24.325  23.725000  0.711864
9354      1092.00  26.900  18.350000  0.640649
9355       769.75  28.325  13.550000  0.513866
9356       816.00  28.500  13.125000  0.502804

[9357 rows x 15 columns]

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04,10:00:00,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
9353,2005-04-04,11:00:00,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
9354,2005-04-04,12:00:00,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
9355,2005-04-04,13:00:00,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
9356,2005-04-04,14:00:00,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

(5)	 Use the correlation method to show relationship between columns(df.corr).

In [ ]:
# Qno 5. solution
# Correlation is used to summarize the strength and direction of the linear association between two quantitative variables.It is denoted by r and values between -1 and +1. A positive value for r indicates a positive association, and a negative value for r indicates a negative association.
# Correlation is an important statistic that tells us how two sets of values are related to each other.

print(df2)

df2.corr()

           Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)  \
0    2004-03-10  18:00:00     2.6      1360.00       150  11.881723
1    2004-03-10  19:00:00     2.0      1292.25       112   9.397165
2    2004-03-10  20:00:00     2.2      1402.00        88   8.997817
3    2004-03-10  21:00:00     2.2      1375.50        80   9.228796
4    2004-03-10  22:00:00     1.6      1272.25        51   6.518224
...         ...       ...     ...          ...       ...        ...
9352 2005-04-04  10:00:00     3.1      1314.25      -200  13.529605
9353 2005-04-04  11:00:00     2.4      1162.50      -200  11.355157
9354 2005-04-04  12:00:00     2.4      1142.00      -200  12.374538
9355 2005-04-04  13:00:00     2.1      1002.50      -200   9.547187
9356 2005-04-04  14:00:00     2.2      1070.75      -200  11.932060

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0           1045.50    166.0       1056.25    113.0       1692.00
1            954.75    103.0       1173.75     92.0       1558.75
2            939.25    131.0       1140.00    114.0       1554.50
3            948.25    172.0       1092.00    122.0       1583.75
4            835.50    131.0       1205.00    116.0       1490.00
...             ...      ...           ...      ...           ...
9352        1101.25    471.7        538.50    189.8       1374.25
9353        1027.00    353.3        603.75    179.2       1263.50
9354        1062.50    293.0        603.25    174.7       1240.75
9355         960.50    234.5        701.50    155.7       1041.00
9356        1047.25    265.2        654.00    167.7       1128.50

      PT08.S5(O3)       T         RH        AH
0         1267.50  13.600  48.875001  0.757754
1          972.25  13.300  47.700000  0.725487
2         1074.00  11.900  53.975000  0.750239
3         1203.25  11.000  60.000000  0.786713
4         1110.00  11.150  59.575001  0.788794
...           ...     ...        ...       ...
9352      1728.50  21.850  29.250000  0.756824
9353      1269.00  24.325  23.725000  0.711864
9354      1092.00  26.900  18.350000  0.640649
9355       769.75  28.325  13.550000  0.513866
9356       816.00  28.500  13.125000  0.502804

[9357 rows x 15 columns]

<ipython-input-21-19de9781f031>:7: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.corr()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
CO(GT),1.000000,0.041415,0.128351,-0.031377,0.029939,0.526450,-0.089981,0.671140,-0.073721,0.080316,-0.068952,-0.048231,-0.045892
PT08.S1(CO),0.041415,1.000000,0.170009,0.852659,0.933101,0.278029,0.086931,0.154058,0.845133,0.892436,0.754806,0.745344,0.764866
NMHC(GT),0.128351,0.170009,1.000000,0.037329,0.110097,-0.004413,0.048832,0.103345,0.162689,0.101189,-0.000008,0.008288,0.012500
C6H6(GT),-0.031377,0.852659,0.037329,1.000000,0.767401,-0.001163,0.512154,-0.010971,0.774649,0.641306,0.971370,0.925068,0.984556
PT08.S2(NMHC),0.029939,0.933101,0.110097,0.767401,1.000000,0.331331,-0.073748,0.176569,0.874761,0.909909,0.668984,0.585775,0.646535
NOx(GT),0.526450,0.278029,-0.004413,-0.001163,0.331331,1.000000,-0.436083,0.817138,0.035580,0.461916,-0.138457,-0.053008,-0.095841
PT08.S3(NOx),-0.089981,0.086931,0.048832,0.512154,-0.073748,-0.436083,1.000000,-0.256217,0.122672,-0.208935,0.588061,0.573513,0.621576
NO2(GT),0.671140,0.154058,0.103345,-0.010971,0.176569,0.817138,-0.256217,1.000000,-0.022092,0.253469,-0.084084,-0.081300,-0.060423
PT08.S4(NO2),-0.073721,0.845133,0.162689,0.774649,0.874761,0.035580,0.122672,-0.022092,1.000000,0.723670,0.755053,0.640685,0.691889
PT08.S5(O3),0.080316,0.892436,0.101189,0.641306,0.909909,0.461916,-0.208935,0.253469,0.723670,1.000000,0.503659,0.524922,0.519432
T,-0.068952,0.754806,-0.000008,0.971370,0.668984,-0.138457,0.588061,-0.084084,0.755053,0.503659,1.000000,0.885910,0.980998
RH,-0.048231,0.745344,0.008288,0.925068,0.585775,-0.053008,0.573513,-0.081300,0.640685,0.524922,0.885910,1.000000,0.943997
AH,-0.045892,0.764866,0.012500,0.984556,0.646535,-0.095841,0.621576,-0.060423,0.691889,0.519432,0.980998,0.943997,1.000000

In [ ]:
print(".........................  Thank ðŸ™ðŸ™ You  ....................................................")

.........................  Thank ðŸ™ðŸ™ You  ....................................................